# Files to ignore when considering what GIT should commit.
.DS_Store

# cache
cache/*
maps/soundcache/*
maps/graphs/*
materials/temp/*
sound/temp/*
sound.cache
*.sound.cache
modelsounds.cache

# crash dumps
*.dmp
*.pdb

# config files
cfg/sourcemod/*
cfg/autoexec_user.cfg
cfg/banned_ip.cfg
cfg/banned_user.cfg
cfg/config.cfg
cfg/server_blacklist.txt
cfg/server.cfg
cfg/user.scr
cfg/settings.scr
settings/admins.txt
ServerConfig.vdf

# logs
logs/*
console.log

# demo records
*.dem

# custom content
custom/*

# user stuff
cfg/pet.txt
download/*
downloadlists/*
SAVE/*
screenshots/*
demoheader.tmp
stats.txt
gamestate.txt
voice_ban.dt
textwindow_temp.html
custom/*
demos/*
materials\vgui\logos\ui\*

# content source
materialsrc/*
soundsrc/*
mapsrc/*.log

# source plugins
addons/*

# faceposer stuff
expressions/*

# shader files
*.tmp

# map compile products
*.prt
*.vmx
